body{
    background: #51515F;
}
.circle{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
     background: #777794;
    transform: translate(-50px, -50px);
    animation: transform ease-in-out 2.4s infinite;
    border-radius: 50%;
}
.loading-wrap{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: rotation ease 2.4s infinite; 
    transform: translate(-50px, -50px);
}

.triangle1, .triangle2, .triangle3{
    border-width: 0 15px 25px 15px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: #6ACCF0;
    position: absolute;
    height: 0;
    width: 0;
    top: -5px;
    left: 10px;   
}
.triangle1{
    animation: rotT1 2.4s infinite;
    
}
.triangle2{
    top: 20px;
    left: -5px;
    animation: rotT2 2.4s infinite;
}
.triangle3{
    top: 20px;
    left: 25px;
    animation: rotT3 2.4s infinite;
}

@-webkit-keyframes rotation {	
    0% {transform: translate(-50px, -50px) rotate(0deg);}
    50% {transform: translate(-50px, -50px) rotate(360deg);}
    100% {transform: translate(-50px, -50px) rotate(360deg);}
} 
 
@-webkit-keyframes fadecolor {	
    0%{-webkit-transform: rotate(0deg);
        border-bottom-color: rgb(255, 255, 255);}
    20% {-webkit-transform: rotate(360deg);}
    100%{-webkit-transform: rotate(360deg);
        border-bottom-color: #6ACCF0;}
}
@-webkit-keyframes transform {	
    0%{width: 50px;
        height: 50px;}    
    50%{width: 50px;
        height: 50px;
        transform: translate(-50px, -50px);}
    75%{width: 75px;
        height: 75px;
        transform: translate(-63px, -60px);}
    100%{width: 50px;
        height: 50px;}
}
@-webkit-keyframes rotT1 {
    0%{-webkit-transform: rotate(0deg);
        left: 10px;}
    50% {-webkit-transform: rotate(0deg);
        border-bottom-color: #6ACCF0;
        top: -5px;
        left: 10px;}
    75% {-webkit-transform: rotate(360deg);
        border-bottom-color: rgb(255, 255, 255);
        left: 10px;
        top: -35px;}
    100%{-webkit-transform: rotate(360deg);
        border-bottom-color: #6ACCF0;
        left: 10px;}    
}
@-webkit-keyframes rotT2 {
    0%{-webkit-transform: rotate(0deg);
        left: -5px;}
    50% {-webkit-transform: rotate(0deg);
        border-bottom-color: #6ACCF0;
        top: 20px;
        left: -5px;}
    75% {-webkit-transform: rotate(360deg);
        border-bottom-color: rgb(255, 255, 255);
        left: -25px;
        top: 50px;}
    100%{-webkit-transform: rotate(360deg);
        border-bottom-color: #6ACCF0;
        left: -5px;}   
}
@-webkit-keyframes rotT3 {
    0%{-webkit-transform: rotate(0deg);
        left: 25px;}
    50% {-webkit-transform: rotate(0deg);
        border-bottom-color: #6ACCF0;
        top: 20px;
        left: 25px;}
    75% {-webkit-transform: rotate(360deg);
        border-bottom-color: rgb(255, 255, 255);
        left: 45px;
        top: 50px;}
    100%{-webkit-transform: rotate(360deg);
        border-bottom-color: #6ACCF0;
        left: 25px;}   
} 